/* Global styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .btn {
    cursor: pointer;
  }
  
  /* Header styles */
  header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-link {
    font-size: 18px;
  }
  
  /* Hero section styles */
  .hero-section {
    background-color: #F9FFFF;
    padding: 100px 0;
  }
  
  .hero-section h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .hero-section p {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .hero-section .btn-primary {
    font-size: 20px;
    font-weight: bold;
  }

  .hero-section img {
    opacity: 0.7;
  }
  
  /* Collections section styles */
  .collections-section {
    padding: 100px 0;
    background: url('photo/collection_back.jpg');
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center;
  }

  .collections-section h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;

  }
  
  .card {
    border: none;
    margin-bottom: 30px;
    background-color: #F9FFFF;
    box-shadow: 15px 10px 10px #ADD8E6;

  }
  
  .card-img-top {
    height: 300px;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  /* Footer styles */
  footer {
    background-color: #F9FFFF;
    padding: 50px 0;
  }
  
  footer h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  footer li {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  footer i {
    margin-right: 10px;
  }


  
